<%= form_for [@rental.user, @rental] do |f| %>
  <%= f.hidden_field :user_id, value: @rental.user_id %>

  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.collection_select(:city_id, City.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.collection_select(:kind_id, Kind.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.text_field :score %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :instant_book %><br>
    <%= f.check_box :instant_book %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
