<p id="notice"><%= notice %></p>

<h1>Listing Rentals</h1>

<table cellpadding="4">
  <thead>
    <tr>
      <th>Name</th>
      <th>Kind</th>
      <th>Score</th>
      <th>User</th>
      <th>Price</th>
      <th>Instant<br/> book</th>
      <th>Reviews</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= rental.name %></td>
        <td><%= rental.kind.name %></td>
        <td style="text-align: center"><%= rental.score || 0 %>/5</td>
        <td><%= rental.user.full_name %></td>
        <td style="text-align: center">$<%= rental.price || 0.0 %></td>
        <td style="text-align: center"><%= rental.instant_book %></td>
        <td style="text-align: center"><%= link_to rental.reviews.count, user_rental_reviews_path(rental.user, rental) %></td>
        <td><%= link_to 'Show', user_rental_path(rental.user, rental) %></td>
        <td><%= link_to 'Edit', edit_user_rental_path(rental.user, rental) %></td>
        <td><%= link_to 'Destroy', user_rental_path(rental.user, rental), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @user %>
  <br>

  <%= link_to 'New Rental', new_user_rental_path %> |
  <%= link_to 'Back to user', user_path(@user) %>
<% end %>