<p id="notice"><%= notice %></p>

<h1>Listing Rentals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Kind</th>
      <th>Score</th>
      <th>User</th>
      <th>Price</th>
      <th>Instant book</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= rental.name %></td>
        <td><%= rental.kind.name %></td>
        <td><%= rental.score %></td>
        <td><%= "#{rental.user.first_name} #{rental.user.last_name}" %></td>
        <td><%= rental.price %></td>
        <td><%= rental.instant_book %></td>
        <td><%= link_to 'Show', user_rental_path(rental.user, rental) %></td>
        <td><%= link_to 'Edit', edit_user_rental_path(rental.user, rental) %></td>
        <td><%= link_to 'Destroy', user_rental_path(rental.user, rental), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rental', new_user_rental_path %>
