<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rental.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @rental.city.name %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @rental.kind.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @rental.score %>
</p>

<p>
  <strong>User:</strong>
  <%= @rental.user.full_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @rental.price %>
</p>

<p>
  <strong>Instant book:</strong>
  <%= @rental.instant_book %>
</p>

<p>
  <strong>Reviews (<%= @rental.reviews.count %>):</strong>

  <ul>
    <% @rental.reviews.each do |review| %>
      <%= content_tag :li, "#{review.content} - #{review.user.full_name}" %>
    <% end %>
  </ul>
</p>

<p>
  <strong>Availability (<%= @rental.reviews.count %>):</strong>

  <ul>
    <% @rental.availabilities.each do |availability| %>
      <%= content_tag :li, availability.day %>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_rental_path(@rental.user, @rental) %> |
<%= link_to 'Back', user_rentals_path %> |
<%= link_to 'Add review', new_user_rental_review_path(@rental.user, @rental) %>
