<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rental.name %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @rental.kind.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @rental.score %>
</p>

<p>
  <strong>User:</strong>
  <%= @rental.user.first_name %> <%= @rental.user.last_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @rental.price %>
</p>

<p>
  <strong>Instant book:</strong>
  <%= @rental.instant_book %>
</p>

<%= link_to 'Edit', edit_user_rental_path(@rental.user, @rental) %> |
<%= link_to 'Back', user_rentals_path %>
